<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/display.css') }}">
    <title>Results</title>

</head>
<body>

<button class="tablink" onclick="openTab('Handwritten', this, '#F190B7', '#712B75')" id="defaultOpen">Handwritten</button>
<button class="tablink" onclick="openTab('Machine-Generated', this, '#F190B7', '#712B75')">Machine-Generated</button>
<button class="tablink" onclick="openTab('Unknown', this, '#F190B7', '#712B75')">Unknown</button>



<div id="Handwritten" class="tabcontent">
    <h1>Handwritten Images {{ handwritten|length }}</h1>
    <div class="Images">
        {% for filenames in handwritten %}
            <img src="static/user/{{ filenames }}" width="200" height="200" alt="user_image">
        {% endfor %}
    </div>
    <br>
    <p>
        Need to sort more images?
        <br>
        Click the button below.
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <input class="custom" type="submit" value="Upload more images">
    </form>
</div>

<div id="Machine-Generated" class="tabcontent">
    <h1>Machine-Generated Images {{ machine|length }}</h1>
    <div class="Images">
        {% for filenames in machine %}
            <img src="static/user/{{ filenames }}" width="200" height="200" alt="user_image">
        {% endfor %}
    </div>
    <br>
    <p>
        Need to sort more images?
        <br>
        Click the button below.
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <input class="custom" type="submit" value="Upload more images">
    </form>
</div>

<div id="Unknown" class="tabcontent">
    <h1>Unknown Images {{ unknown|length }}</h1>
    <div class="Images">
        {% for filenames in unknown %}
            <img src="static/user/{{ filenames }}" width="200" height="200" alt="user_image">
        {% endfor %}
    </div>
    <br>
    <p>
        Need to sort more images?
        <br>
        Click the button below.
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <input class="custom" type="submit" value="Upload more images">
    </form>
</div>


<script>
    function openTab(tab,elment,color, text) {
        let i, tabcontent, tablink;
        //hide all elements with tabcontent class by default
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        //remove bkg color of all tablinks
        tablink = document.getElementsByClassName("tablink");
        for (i = 0; i < tablink.length; i++) {
            tablink[i].style.backgroundColor = "";
            tablink[i].style.color = "";
        }
        //show the specific tabcontent
        document.getElementById(tab).style.display = "block";
        //add specific color to the button used to open tabcontent
        elment.style.backgroundColor = color;
        elment.style.color = text;
    }
    // get element with "defaultOpen" id and click it
    document.getElementById("defaultOpen").click();

</script>

</body>
</html>