<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/display.css') }}">
    <title>Results</title>

</head>
<body>

<button class="category_buttons" onclick="toggle_category('Handwritten', this, '#F190B7', '#712B75')" id="starting_tab">Handwritten</button>
<button class="category_buttons" onclick="toggle_category('Machine-Generated', this, '#F190B7', '#712B75')">Machine-Generated</button>
<button class="category_buttons" onclick="toggle_category('Unknown', this, '#F190B7', '#712B75')">Unknown</button>


<div id="Handwritten" class="display_sections">
    <h1>Handwritten Images {{ handwritten|length }}</h1>
    <div class="Images">
        {% for filenames in handwritten %}
            <img src="static/user/{{ filenames }}" width="200" height="200" alt="user_image">
        {% endfor %}
    </div>
    <br>
    <p>
        Need to sort more images?
        <br>
        Click the button below.
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <input class="custom" type="submit" value="Upload more images">
    </form>
</div>

<div id="Machine-Generated" class="display_sections">
    <h1>Machine-Generated Images {{ machine|length }}</h1>
    <div class="Images">
        {% for filenames in machine %}
            <img src="static/user/{{ filenames }}" width="200" height="200" alt="user_image">
        {% endfor %}
    </div>
    <br>
    <p>
        Need to sort more images?
        <br>
        Click the button below.
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <input class="custom" type="submit" value="Upload more images">
    </form>
</div>

<div id="Unknown" class="display_sections">
    <h1>Unknown Images {{ unknown|length }}</h1>
    <div class="Images">
        {% for filenames in unknown %}
            <img src="static/user/{{ filenames }}" width="200" height="200" alt="user_image">
        {% endfor %}
    </div>
    <br>
    <p>
        Need to sort more images?
        <br>
        Click the button below.
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <input class="custom" type="submit" value="Upload more images">
    </form>
</div>


<script>
    function toggle_category(section_id, element, background_color, text_color) {
        let i, display_sections, category_buttons;
        //hide all sections
        display_sections = document.getElementsByClassName("display_sections");
        for (i = 0; i < display_sections.length; i++) {
            display_sections[i].style.display = "none";
        }
        //Remove default design for buttons
        category_buttons = document.getElementsByClassName("category_buttons");
        for (i = 0; i < category_buttons.length; i++) {
            category_buttons[i].style.backgroundColor = "";
            category_buttons[i].style.color = "";
        }
        // show selected category
        document.getElementById(section_id).style.display = "block";
        element.style.backgroundColor = background_color;
        element.style.color = text_color;
    }
    // select the category
    document.getElementById("starting_tab").click();

</script>

</body>
</html>